!!! 5
%html{"ng-app"=>"app"}
  %head
    %title Myworld
    %base{href: "/"}
    = stylesheet_link_tag    'application', media: 'all' 
    = javascript_include_tag 'application'
    = csrf_meta_tags
%body
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{href: "/"} My World
        .nav-collapse
          %ul.nav
            %li= link_to "Admins register", '/admins/sign_up'
            %li= link_to "Profile Edit", edit_admin_registration_url
            %li= link_to "My books", '#/my_favorites/novels'
            %li= link_to "Cart"
            %li= link_to "Log out", '/admins/sign_out'
  .container{id: 'main'}
    = yield
  .container
    .footer
      %ul.footer-links
        %li © 2014 Welcome To My World!